@media screen and (min-width:300px){
    .container-Nav{
        display: flex;
        height: 100px;
        width: 100%;
        justify-content: space-between;
    }
    .container-logo{position: relative;
        height: max-content;
        top: 19px;
        margin-left: 2%;
    }    
    .container-link{
        position: relative;
        top: 62px;
        height: max-content;
    }
    .container-link{display:none}
    .links{
        margin-right: 5%;
    }
    #pokeBola{
        position: relative;
        background-image: url('../../images/Pokebola.png');
        width: 100px;
        height: 100px;
        background-size: 100% 100%;
    }
    #menu{display: flex;
        height: 20px;
        margin-left: 52px;
        margin-top: 27px;}
    #logo-movile{    
        margin-left: 108px;
        margin-top: 25px;}
    #closer-nav-movile{
        margin-left: 64px;
        margin-bottom: 35px;
    }
    .container-nav-movile{
        position: absolute;
        width: 100%;
        height: 50%;
        background: #FEFEFE;
    }
    .links-movile{text-decoration: none !important;}
    .container-links-movile{
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 40px;
    }

}
@media screen and (min-width:600px){
    .container-link{display: flex;}
}
@media screen and (min-width:1000px){#menu{display: none;}}