@media screen and (min-width:300px){
    .link-show{
        text-decoration: none;
    }
}
@media screen and (min-width:1000px){
    .container-boards{
        width: 90%;
        padding-left: 8%;
        padding-right: 0%;
        display: flex;
        flex-wrap: wrap;
    }
}