@media screen and (min-width:300px){
    .container-movements{
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        border-radius: 25px 25px 0px 0px;
        height: 50%;
        justify-content: center;
        margin-top: 7px;
        padding-top: 25px;
    }
    .movement{
        padding-left: 5px;
        padding-right: 5px;
        width: max-content;        
        height: 50px;
        margin: 5px;
        background-color: #415BA6;
        color: white;
        border-radius: 10px;
    }
}
@media screen and (min-width:600px){
    .container-movements{
        margin-top: 132px;
        padding-top: 113px;
    }

}
@media screen and (min-width:800px){.container-movements{padding-top:132px;}}
@media screen and (min-width:900px){.container-movements{padding-top:165px;}}
@media screen and (min-width:1000px){.container-movements{padding-top:198px;}}
@media screen and (min-width:1100px){.container-movements{padding-top:223px;}}
@media screen and (min-width:1200px){.container-movements{padding-top:263px;}}
@media screen and (min-width:1300px){.container-movements{padding-top:293px;}}
@media screen and (min-width:1400px){.container-movements{padding-top:332px;}}
@media screen and (min-width:1500px){.container-movements{padding-top:357px;}}
@media screen and (min-width:1600px){.container-movements{padding-top:390px;}}
@media screen and (min-width:1700px){.container-movements{padding-top:432px;}}
@media screen and (min-width:1800px){.container-movements{padding-top:456px;}}
@media screen and (min-width:1900px){.container-movements{padding-top:493px;}}
@media screen and (min-width:2000px){.container-movements{padding-top:520px;}}