@media screen and (min-width:300px){.detail-about{padding-left: 20px;}}
@media screen and (min-width:400px){.detail-about{padding-left: 36px;}}
@media screen and (min-width:400px){.detail-about{padding-left: 38px;}}
@media screen and (min-width:500px){.detail-about{padding-left: 53px;}}
@media screen and (min-width:600px){.detail-about{padding-left: 70px;}}
@media screen and (min-width:700px){.detail-about{padding-left: 84px;}}
@media screen and (min-width:900px){.detail-about{padding-left: 119px;}}
@media screen and (min-width:1000px){.detail-about{padding-left: 132px;}}
@media screen and (min-width:1100px){.detail-about{padding-left: 150px;}}
@media screen and (min-width:1200px){.detail-about{padding-left: 164px;}}
@media screen and (min-width:1300px){.detail-about{padding-left: 182px;}}
@media screen and (min-width:1400px){.detail-about{padding-left: 200px;}}
@media screen and (min-width:1500px){.detail-about{padding-left: 215px;}}
@media screen and (min-width:1600px){.detail-about{padding-left: 233px;}}
@media screen and (min-width:1700px){.detail-about{padding-left: 245px;}}
@media screen and (min-width:1800px){.detail-about{padding-left: 264px;}}
@media screen and (min-width:1900px){.detail-about{padding-left: 283px;}}
@media screen and (min-width:2000px){.detail-about{padding-left: 299px;}}